{% extends "Base/index.html" %}
{% load static %}

{% block styl_parent %}
  <title>Enseignant | Résultats Annuels</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="{% static 'base/plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/adminlte.min.css' %}">
{% endblock %}

{% block body %}
<body class="hold-transition sidebar-mini">
{% endblock body %}

{% block contenu %}
<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3>Bulletins Annuels par Groupe de Classe ou option</h3>
              <form method="get" class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                  <label for="groupeclasse" class="sr-only">Groupe Classe</label>
                  <select name="groupe_classe" id="groupeclasse" class="form-control" required>
                    <option value="">-- Sélectionnez un groupe classe --</option>
                    {% for groupe in groupes_classes %}
                      <option value="{{ groupe.id }}" {% if request.GET.groupe_classe == groupe.id|stringformat:"s" %}selected{% endif %}>{{ groupe.nom }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <label for="annee_scolaire" class="sr-only">Année Scolaire</label>
                  <select name="annee_scolaire" id="annee_scolaire" class="form-control" required>
                    <option value="">-- Sélectionnez une année scolaire --</option>
                    {% for annee in annees_scolaires %}
                      <option value="{{ annee.id }}" {% if request.GET.annee_scolaire == annee.id|stringformat:"s" %}selected{% endif %}>{{ annee.nom }}</option>
                    {% endfor %}
                  </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Rechercher</button>
                <div style="display:inline-block; width: 10px;"></div> <!-- Ajout de l'espace ici -->
                <button type="button" onclick="imprimer()" class="btn btn-secondary mb-2">Imprimer</button>
              </form>
            </div>

            <div class="card-body">
              {% if error_message %}
                <div class="alert alert-danger">{{ error_message }}</div>
              {% endif %}

              {% if sorted_bulletins %}
              <div id="impression">
                <center>
                  <div class="republique">
                    <h1 style="font-size: 36px; font-weight: bold; color: #0056b3;">RÉPUBLIQUE DE GUINÉE</h1>
                  </div>
                  <div class="devise" style="font-size: 20px; font-style: italic; color: #777777; margin-bottom: 20px;">
                    Travail - Justice - Solidarité
                  </div>

                  <div class="republique">
                    <h2 style="font-size: 30px; font-weight: bold; color: #0056b3;">Groupe Scolaire Privé BNB</h2>
                  </div>
                  <div class="devise" style="font-size: 20px; font-style: italic; color: #777777; margin-bottom: 20px;">
                    Union - Sincérité - Réussite
                  </div>

                  <h3 style="font-size: 24px; font-weight: normal; color: #333333;">
                    Résultat annuel par groupe de classe ou option
                  </h3>
                </center>

                <table id="bulletins" class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Rang</th>
                      <th>Nom de l'élève</th>
                      <th>Moyenne Annuelle</th>
                      <th>Observation</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for bulletin in sorted_bulletins %}
                      <tr>
                        <td>
                          {% if bulletin.rang == 1 %}
                            1er
                          {% elif bulletin.rang == 2 %}
                            2ème
                          {% elif bulletin.rang == 3 %}
                            3ème
                          {% else %}
                            {{ bulletin.rang }}ème
                          {% endif %}
                        </td>
                        <td>{{ bulletin.bulletin.eleve.nom }} {{ bulletin.bulletin.eleve.prenom }}</td>
                        <td>{{ bulletin.moyenne_annuelle|floatformat:2 }}</td>
                        <td>{{ bulletin.observation }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div> <!-- Fin div #impression -->

              {% else %}
                <p>Aucun bulletin trouvé pour les critères sélectionnés.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block scripte %}
<script src="{% static 'base/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'base/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'base/js/adminlte.min.js' %}"></script>

<script>
  function imprimer() {
    var printContents = document.getElementById("impression").outerHTML;
    var originalContents = document.body.innerHTML;
    
    document.body.innerHTML = printContents;
    window.print();
    document.body.innerHTML = originalContents;
    location.reload(); // Recharge la page après l'impression pour éviter les problèmes d'affichage
  }
</script>
{% endblock %}
